extends ../commun/layout-front

block contenu_page
    h1 Accéder au back office du blog 

    form.col-4.offset-4.mt-5
        input(type="text" name="login" class="form-control" placeholder="login")
        input(type="text" name="password" class="form-control my-3" placeholder="password")
        .d-flex.justify-content-center
            input(type="submit" class="btn btn-success btn-sm" value="se connecter")

    // créer un nouveau model / schema Mongoose 
    // créer une table dans la base de données => users 
    // schema
    // login String obligatoire
    // password String obligatoire
    
    // créer le model user 

    // 

block script_js
    // le script lorsque vous soumettre le formulaire 
    // envoyer en ajax 
    // appeler l'adresse http://localhost:5200/back/add-user 
    // méthode POST 
    script(src="https://cdn.jsdelivr.net/npm/js-sha1@0.6.0/src/sha1.min.js")
    script.
        document.querySelector("form").addEventListener("submit" , (e) => {
            e.preventDefault();
            const profil = {
                login : e.target.login.value,
                password : sha1(e.target.password.value),
            }
            const req = new XMLHttpRequest()
            req.open("POST" , "http://localhost:5200/connexion/");
            req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
            req.send(JSON.stringify(profil))
            req.onload = () => {
                console.log(JSON.parse(req.responseText))
            }
        })