<h1>structure de html classique</h1>
h2 structure utilisant la syntaxe pug
ul
    li élément 1
    li élément 2
    li élément 3
p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa ipsam distinctio laboriosam. Saepe incidunt aspernatur numquam ratione quae quod nemo, rem temporibus. Consequatur voluptatem sit ex quaerat rem, in ipsa.
p. 
    écrire sur 
    plusieurs lignes
style. 
    h1{
        color : red;
        text-align: center;
    }
script. 
    const h2 = document.querySelector("h2");
    h2.style["color"] = "red";
    h2.style["font-size"] = "15px";

// commentaire en javascript 
<!-- syntaxe classique de html pour écrire un commentaire -->