doctype html
html 
    head
        title Page complète 
    body
        header 
            h1 page complète avec toutes les balises 
        main 
            h2 partie centrale de la page 
        hr
        footer 
            p &copy; 2021