extends mise-en-page

block style 
    style. 
        h1{
            color: red ;
        }

block contenu_page
    h1 je suis dans le fichier 05-extends block 
    p avec un peu de texte 

block pied-page 
    p je suis le pied de page