doctype html
html 
    head
        title Page complète 
        link(rel="stylesheet" href="/css/style.css")
    body
        header 
            h1 page complète avec toutes les balises 
        main 
            p je suis le 1er p 
            p je suis le 2eme p 
        hr
        footer 
            p &copy; 2021
        script(src="/js/script.js")